nav.m-breadcrumb
    .container.m-breadcrumb__container
        a.m-breadcrumb__item(href="#") #[img(src=URLbase+"img/home-icon.svg")]
        a.m-breadcrumb__item(href="#") Dolor sit amet
        a.m-breadcrumb__item(href="#") Lorem ipsum
        span.m-breadcrumb__item.active Lorem ipsum