- var lang = "cs";

- var title = "spilepe.eu";

- var metaDescription = "Prodej dětských postelí a veškerého příslušenství. Specializujeme se na kvalitní postele s zmasivu, matrace a rošty.";

- var metaKeywords = "";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://spilepe.eu";

- var metaSitename = "spilepe.eu";


- var URLbase = "";


- var metaTwitterName = "@spilepeeu";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "spilepeeu";

- var metaYoutubeName = "spilepeeu";

- var metaInstagramName = "spilepeeu";



- var ProductName = "Stůl Standard 300 skládací lorem ipsum dolor sit amet";