.o-productGrid{
    display: flex;
    flex-wrap: wrap;
}
.o-productGrid .m-productCell{
    width: 25%;
    padding: 0px;
}
.o-productGrid .m-productCell__link{
    border-right: 0; 
    border-bottom: 0;
}
.o-productGrid .m-productCell:nth-child(4n+4) .m-productCell__link{
    border-right: 1px solid $border-grey; 
}
@media screen and (max-width:991px){
    .o-productGrid{
        margin-left: -10px;
        margin-right: -10px;
    }
    .o-productGrid .m-productCell{
        width: 25%;
        padding: 0px;
    }

}
@media screen and (max-width:768px){
    .o-productGrid{
        margin-left: -15px;
        margin-right: -15px;
    }
    .o-productGrid .m-productCell{
        width: 50%;
        padding: 0px;
    }
    .o-productGrid .m-productCell:nth-child(2n+2) .m-productCell__link{
        border-right: 1px solid $border-grey; 
    }
}
@media screen and (max-width:500px){
    .o-productGrid{
        margin-left: -5px;
        margin-right: -5px;
    }
}