.o-sectionNews{
    background: $bg-white;
    background-image: url("../img/bg-news.png");
}
.o-sectionNews__title{
}
.o-sectionNews__btnWrap{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}